include morpheus/_version.py
include morpheus/morpheus_core_arch-aarch64.yaml
include morpheus/morpheus_core_arch-x86_64.yaml
recursive-include morpheus/data *
recursive-include morpheus *.cpython*.so py.typed *.pyi
